<!--(heyup)="handleInputKeyup($event)" 

<input  id="meu-input" 
[value]="inputText" 
[type]="inputType" 
[disabled]="isDisabled"

(input)="handleInputEvent($event)"/>

<br />

<button (click)="enableInput()">Habilitar</button>
<button (click)="disableInput()">Desabilitar</button>

<br />

<button (click)="setPasswordTypeInput()">Senha</button>
<button (click)="setTextTypeInput()">Texto</button>


<br />

<button (click)="logInputText()">Log</button>

<button [attr.title]="buttonTitle">Teste</button>
<button [title]="buttonTitle">Teste</button>

<button [attr.disabled]="buttonDisable ? true : null">Disabled</button>

<button (click)="onButtonClick()">Mudar Props</button>


-->




<button style="width: 100px; background-color: aqua;">Botão 0</button>
<br/>
<button [style.width]="widthButton1" [style.backgroundColor]="'blue'">Botão 1</button>
<br/>
<button [style.width.px]="widthButton2" [style.backgroundColor]="'pink'">Botão 2</button>
<br/>

<button [style]="'width: 140px; background-color: brown;'">Botão 3</button>
<br/>
<button [style]="{width: '150px', backgroundColor: 'orange'}">Botão 4</button>
<br/>
<button [style]="styleObj">Botão 5</button>
<br/>
<button (click)="updateStyleObj()">Atualizar obj</button>
<br/>
<button (click)="updateStyleObjCorrect()">Atualizar obj correto</button>
<br/>
<button (click)="updateWidth()">Atualizar width</button>